img video iframe{
    max-width: 100%;
}

header{
padding: 1em;
padding: 1em;
background-image: url('images/foto_banner_2.png' );
background-size:100%;
background-repeat: no-repeat;
background-position: center;
 }


header a{
    color:#8C0303;
    text-decoration: none;
    background-color: beige; 
    border-style: solid;
    border-radius: 3em;
    padding: 0.5em;  

}


header li:hover{
animation-name: rotate;
animation-duration: 3s;
animation-iteration-count: infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

header ul{
    list-style-type: none;
    display: flex; 
    justify-content:space-evenly;
    flex:content;
    gap: 1em;
}


main h1{
    display: flex;
    justify-content: center;
}

body{ 
background-color:rgb(247, 247, 238);
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
box-sizing: border-box;
}


a:hover{
    background-color:rosybrown;
}

a:focus{
    background-color:lightcoral;
}

a:active{
    background-color:rosybrown;
}


h1,h2,h3,h4,h5,h6{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.logo-dansmariekes{
    display: flex;
    justify-content:center;
    
}

.fotos_home{
    display: flex;
    justify-content: space-evenly;
    background-color:beige;
    border-radius: 5em;
    border-color: #8C0303; 
    border-style:ridge;
    margin: 2em;
    font-size: small;
    font-weight: bold;
}

.fotos_home img{
    transition: all 800ms ease;
}

.fotos_home img:active{
    transform: scale(125%);
}

.homepagina-tekst{
    background-color: beige;
    padding: 1em;
    border-radius: 1em;
    border-style: outset;
    margin: 2em;
    padding-right: 25em;

}


article h3{
    display: flex;
    justify-content: center;
}


.fotorij{
    background-color: beige;
    display: flex;
    justify-content: space-evenly;
    border-style:dashed;
    border-color:#8C0303;
    border-radius: 5em;
    margin: 1em;

}

.fotorij img{
    transition: all 500ms ease;
}

.fotorij img:hover{
    transform: scale(125%);
    
}

.videorij2-4-6{
    display: flex;
    justify-content: space-evenly;
    background-color: beige;
    border-radius: 5em;
    margin: 1em;
    border-style: outset;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    font-weight: bold;
}


.videorij1-3-5{ 
    display: flex;
    justify-content: space-evenly;
    background-color: #8C0303;
    border-radius: 5em;
    margin: 1em;
    border-style: outset;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    font-weight: bold;
}


iframe {
    border: none;
    }


.playlistrij1-3{
    display: flex;
    justify-content: space-evenly;
    background-color:#8C0303;
    border-radius: 5em;
    margin: 1em;
}

.playlistrij1-3 img{
    transition: all 500ms ease;
}

.playlistrij1-3 img:hover{
    transform: scale(150%);
}



.playlistrij2-4{
    display: flex;
    justify-content: space-evenly;
    background-color:beige;
    border-radius: 5em;
    border-style:dashed;
    border-color: #8C0303;
    margin: 1em;
}

.playlistrij2-4 img{
    transition: all 500ms ease;
}

.playlistrij2-4 img:hover{
    transform: scale(150%);
}


footer{
    background-color: #8C0303;
    padding: 0.5;
    border-style: outset;
    list-style-type: none;
    display: flex; 
    justify-content:space-evenly;
    flex:content;
    gap: 1em;

}

footer a{
    color:#8C0303;
    text-decoration: none;
    background-color: beige; 
    border-style: solid;
    border-radius: 3em;
    transition: all 500ms ease;
    padding: 0.5em;
    transition: 500ms ease;
}

footer a:hover{
    transform: scale(125%);
}
